p {
    color: yellowgreen;
    font-size: large;
}
text-align-center {

}
text-align-right {

}
text-align-left {

}
body {
    background-image : "Assets\\Awais Technologies.jpeg";
    background-repeat : no-repeat ;
    background-attachment : fixed ;
    background-size : cover ;
}
legend {
}
