body {
    display: block;
    background-color: #ffffff;
    font-family:Helvetica;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: ;
    width: 750px;
}

header {
    display: flex;
    border: 1px solid #000000;
    padding: 25px;
    /* width: 800px; */
}

.up-left-div {
    height:50%;
    width:50%;
    text-align: left;
    padding: 25px;
}

.up-right-div {
    width:50%;
    height: 50%;
    text-align: right;
    padding: 25px;
}

.main {
    display: flex;
    border: 1px solid #000000;
    padding: 25px;
    /* width: 800px; */
}

.down-left-div {
    width:50%;
    height: 500px;
    border-right: 2px solid grey;
    text-align: left;
    padding: 25px;
}

.down-right-div {
    width: 50%;
    height:500px;
    border-left: 2px solid grey;
    text-align: left;
    padding: 25px;
}

P {
    word-wrap: break-word;
}