body{
    background-color: black;
    
}

header{

}

.main1{
    background-color: #313443;
    color: white;
}

.me1{
    border-radius: 500px;
    width: 250px;
    background-color: #464651;
    padding-left: 50px;
    margin-left: 325px;
}
.me2{
    height: 250px;
    border-radius: 200px;
    margin-left: 200;
}


.images{
    display: flex;
    background-color: #313443;
    align-items: center;
    padding-left: 35vw;
    margin-bottom: 10px;
}

.img{
    height: 50px;
    background-color: #464651;
    margin:5px ;
}

.main2{
    background-color: #464651;
    color: whitesmoke;
}

.left{

}

.right{

}

footer{
    background-color: #464651;
}